#navigation {
    position: absolute;
    width: 180px;
    height: 500px;
    margin: 20px;
    margin-top: 50px;
    border-right: 1px solid #C6EC8C;
    font-weight: normal;
    background-color:blue;
}

#contentArea {
    position: relative;
    top: -15px;
    background-color: bisque;
    padding: 0 0 20px 0;
    margin-left: 195px;
}